<div class="" style="margin-top: 90px; margin-left: 20px;">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th style="width: 15%;">Name & lastname</th>
        <th style="width: 15%;">Worked</th>
        <th style="width: 15%;">Present today</th>
        <th style="width: 15%;">Status(In/Out)</th>
        <th style="width: 25%;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of employees">
        <td>{{item.name +' '+ item.lastName}}</td>
        <td>{{item.worked == null ? 'false' :item.worked }}</td>
        <td>{{item.entered == false ? 'false' : item.worked}}</td>
        <td>
          <div class="dot" [ngClass]="{'out': item.isOut , 'in': !item.isOut}"></div>
        </td>
        <td>
          <div class="dropdown">
            <button
              class="btn btn-success dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" >Require a meeting</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
