<div class="" style="margin-top: 100px;">
  <div class="scrollable-table">
    <table class="table" style="width: 100%;">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 10%;">Employee</th>
          <th scope="col" style="width: 10%;">Time-Start</th>
          <th scope="col" style="width: 10%;">Time-end</th>
          <th scope="col" style="width: 10%;">Duration(H)</th>
          <th scope="col" style="width: 10%;">verified(H)</th>
          <th scope="col" style="width: 35%;">verification</th>
          <th scope="col" style="width: 10%;">Action</th>
          <th scope="col" style="width: 10%;">Status</th>
        </tr>
      </thead>
      <tbody class="scrollable-table">
        <tr
          [ngClass]="{
            sattelled: delay.verified === true,
            unsatteled: delay.verified === false,
            normal: delay.satteled === false
          }"
          *ngFor="let delay of delays"
        >
          <td>{{ delay.user.name +' '+ delay.user.lastName }}</td>
          <td>{{ delay.start }}</td>
          <td>{{ delay.end }}</td>
          <td>{{ delay.duration / 60 | number: "2.1-1" }}</td>
          <td>{{ delay.verified ? "yes" : "no" }}</td>
          <td>
            <input
              type="text"
              [name]="delay.id"
              [disabled]="true"
              [value]="delay.verification"
            />
          </td>
          <td>
            <div class="dropdown">
              <button
                class="btn btn-success dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                actions
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a
                  class="dropdown-item"
                  (click)="updateverification(delay, true)"
                  >Accept</a
                >
                <a
                  class="dropdown-item"
                  (click)="updateverification(delay, null)"
                  >Require a meeting</a
                >
                <a
                  class="dropdown-item"
                  (click)="updateverification(delay, false)"
                  >Refuse</a
                >
              </div>
            </div>
          </td>
          <td>
            <p class="text-success" *ngIf="delay.verified === true">Verified</p>
            <p class="text-danger" *ngIf="delay.verified === false">
              Not Verified
            </p>
            <p
              class="text-dark"
              *ngIf="delay.verified !== false && delay.verified !== true"
            >
              Pending
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
