<div class="container" style="margin-top: 100px;">
    <div class="scrollable-table">
        <table class="table " style=" width: 100%; ">
            <thead>
                <tr>
                    <th scope="col " style="width: 10%;">Date</th>
                    <th scope="col" style="width: 10%;">Time-Start</th>
                    <th scope="col " style="width: 10%;">Time-end</th>
                    <th scope="col " style="width: 15%;">Duration(H)</th>
                    <th scope="col " style="width: 35%;">verification</th>
                    <th scope="col " style="width: 10%;">Action</th>
                </tr>
            </thead>
            <tbody class="scrollable-table">
                <tr>
                    <td>Jacob</td>
                    <td>Jacob</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Accept</a>
                                <a class="dropdown-item" href="#">Require a meeting</a>
                                <a class="dropdown-item" href="#">Refuse</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>Jacob</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Accept</a>
                                <a class="dropdown-item" href="#">Require a meeting</a>
                                <a class="dropdown-item" href="#">Refuse</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>Jacob</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Accept</a>
                                <a class="dropdown-item" href="#">Require a meeting</a>
                                <a class="dropdown-item" href="#">Refuse</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>