<div class="wrapper" style="margin-bottom: 60px; margin-top: 40px;">
    <div class="d-flex justify-content-start align-items-center">

        <ul class="pagination pagination-md pt-4">
            <li class="page-item">
                <a class="page-link" [routerLink]="['../daily']" routerLinkActive="router-link-active" style="background-color: rgb(230, 230, 230); border-color: black; ">Daily</a>
            </li>
            <li class="page-item ">
                <a class="page-link " [routerLink]="['../weekly']" style="background-color: rgb(230, 230, 230);border-color: black; ">Weekly</a>
            </li>
            <li class="page-item ">
                <a class="page-link " [routerLink]="['../monthly']" style="background-color: rgb(230, 230, 230);border-color: black; ">Monthly</a>
            </li>
        </ul>

        <h3 style="text-align: right; margin-bottom: 0; margin-left: 40px;font-family: Arial;padding-top: 18px; "><i class="fas fa-user-clock " style="color: #08526d; "></i><span style="color: rgb(109, 109, 109); "> Worked: 45H</span>
        </h3>

    </div>
</div>