<app-record-header></app-record-header>

<div class="scrollable-table">
    <table class="table table-striped" style=" width: 100%; ">
        <thead>
            <tr>
                <th scope="col ">Week Number</th>
                <th scope="col ">Theorical(Houres)</th>
                <th scope="col ">Actual(Houres)</th>
                <th scope="col ">Verified(Houres)</th>
                <th scope="col ">Delay</th>
            </tr>
        </thead>
        <tbody class="scrollable-table">
            <tr>
                <td>Jacob</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>

            </tr>
            <tr>
                <td>Jacob</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Otto</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Otto</td>
                <td>@twitter</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Otto</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Jacob</td>
                <td>Otto</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>the Bird</td>

                <td>Mark</td>
                <td>the Bird</td>
                <td>Otto</td>
            </tr>
            <tr>
                <td>the Bird</td>
                <td>Jacob</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>the Bird</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>