<agm-map
  [latitude]="lat"
  [longitude]="long"
  (mapClick)="onClickLocation($event)"
>
  <agm-marker [latitude]="lat" [longitude]="long"> </agm-marker>
</agm-map>
<div class="d-flex justify-content-around" style="margin-top: 18px;">
  <div class="" style="text-align: center;">
    <div
      class="btn btn-lg"
      (click)="changeMode()"
      [ngClass]="{ 'btn-danger': !editMode, 'btn-success': editMode }"
    >
      <p style="padding: 0;margin: 0;" *ngIf="!editMode">
        Reset location
      </p>
      <p  style="padding: 0; margin: 0;" *ngIf="editMode">
        Confirme
      </p>
    </div>
  </div>
  <div class="" style="text-align: center;">
    <div class="btn btn-light">{{ lat }}</div>
  </div>
  <div class="myLocation" style="text-align: center; " (click)="getCurrentLocation()">
    <i class="fas fa-map-marker-alt" style="font-size: 50px; color: rgb(255, 69, 36);"></i>
  </div>
  <div class="" style="text-align: center;">
    <div class="btn btn-light">{{ long }}</div>
  </div>
</div>
