<div class="contain">
  <div>
    <h2 class="text-center pt-3" style="font-style: italic; color: rgb(158, 158, 158);">
      Employees imputations Settings
    </h2>
  </div>
  <div class="cont" style="margin-left: auto; margin-right: auto;">
    <div class="row pt-5 mt-5">
      <div class="col-1"></div>
      <div class="col-2">
        <h4>Working</h4>
      </div>
      <div class="col-3">
        <input type="time" name="" class="form-control" />
      </div>
      <div class="col-1">
        <h4>to</h4>
      </div>
      <div class="col-3">
        <input type="time" name="" class="form-control" />
      </div>
    </div>
  </div>
  <div class="cont" style="margin-left: auto; margin-right: auto;">
    <div class="row pt-5 mt-5">
      <div class="col-1"></div>
      <div class="col-2">
        <h4>Margin(min)</h4>
      </div>
      <div class="col-3">
        <input type="text" name="" class="form-control" />
      </div>
    </div>
  </div>

  <div class="cont" style="border: none;" >
    <div class="row pt-5 mt-5" style="border: none;">
      <div class="col-1"></div>
      <div class="col-2">
        <h4>Activate Margin</h4>
      </div>
      <div class="col-3" style="border: none;">
        <input type="checkbox" style="border: none;" name="" class="form-control" />
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center pt-5">
    <button class="btn btn-lg btn-success" style="width: 200px;">
      confirm
    </button>
  </div>
</div>
