<div style="margin-top: 100px;">
    <div class="options-container">
        <a class="option btn" [routerLink]="['../absence-request']">
            <div class="text-block-35"><i class="fas fa-address-card mr-3 text-warning"></i>Add an absence request</div>
        </a>
        <a class="option btn" [routerLink]="['../absence-verification']">
            <div class="text-block-35"><i class="fas fa-clipboard-check text-success mr-3"></i>Add an absence verification</div>
        </a>
    </div>
</div>