<div class="form-container">
    <!-- we acn add a filed to add some justification time -->
    <div style="width: 100%;">
        <form style="width: 100%;">
            <div class="form-group">
                <label for="exampleInputEmail1">Absence date</label>
                <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="exampleInputPassword1">From</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Hour : Minut">
                </div>
                <div class="form-group col-6">
                    <label for="exampleInputPassword1">To</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Hour : Minut">
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Reason</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <textarea class="form-control" rows="3" placeholder="Description"></textarea>
            </div>

            <div class="d-flex justify-content-center ">
                <button type="submit" class="btn btn-lg btn-success w-25">Confirm</button>
            </div>
        </form>
    </div>

</div>