<div class="" style="margin-top: 100px;">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Issuer</th>
                <th>Date</th>
                <th>Start</th>
                <th>End</th>
                <th>Reason</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr [ngClass]="{'accept': item.accepted === true, 'refuse': item.accepted === false}" *ngFor="let item of requests">
                <td>{{item.user.name+' '+ item.user.lastName}}</td>
                <td>{{item.absenceDate}}</td>
                <td>{{item.absenceStart}}</td>
                <td>{{item.absenceEnd}}</td>
                <td>{{item.reason}}</td>
                <td>{{item.description}}</td>
                <td>
                    <div class="dropdown">
                        <button  [disabled]="item.isSettled" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                  </button >
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="updateRequest(item,true)">Accept</a>
                            <a class="dropdown-item" (click)="updateRequest(item,null)">Require a meeting</a>
                            <a class="dropdown-item" (click)="updateRequest(item,false)">Refuse</a>
                        </div>
                    </div>
                </td>
            </tr>
          
        </tbody>
    </table>
</div>