<div class="" style="margin-top: 100px;">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Issuer</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Reason</th>
        <th>Description</th>
        <th>Action</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of requests">
        <td>{{ item.user.name +' '+item.user.lastName  }}</td>
        <td>{{ item.absenceDate }}</td>
        <td>{{ item.absenceStart }}</td>
        <td>{{ item.absenceEnd }}</td>
        <td>{{ item.reason }}</td>
        <td>{{ item.description }}</td>
        <td>
          <div class="dropdown">
            <button
              class="btn btn-success dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              actions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="updateRequest(item, true)"
                >Accept</a
              >
              <a class="dropdown-item" (click)="updateRequest(item, null)"
                >Require a meeting</a
              >
              <a class="dropdown-item" (click)="updateRequest(item, false)"
                >Refuse</a
              >
            </div>
          </div>
        </td>
        <td>
          <span *ngIf="item.accepted === true" class="text-danger"
            >Refused</span
          >
          <span *ngIf="item.accepted === false" class="text-success"
            >Accepted</span
          >
          <span *ngIf="item.accepted === null" class="text-dark"
            >Pending</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
