<div class="container" style="margin-top: 100px;">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Issuer</th>
                <th>Date</th>
                <th>Start</th>
                <th>End</th>
                <th>Reason</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>12/02/2020</td>
                <td>10:15</td>
                <td>12:00</td>
                <td>hostpital</td>
                <td>i have an issue with my eyes</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                  </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Accept</a>
                            <a class="dropdown-item" href="#">Require a meeting</a>
                            <a class="dropdown-item" href="#">Refuse</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>John</td>
                <td>12/02/2020</td>
                <td>10:15</td>
                <td>12:00</td>
                <td>hostpital</td>
                <td>i have an issue with my eyes</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Accept</a>
                            <a class="dropdown-item" href="#">Require a meeting</a>
                            <a class="dropdown-item" href="#">Refuse</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>John</td>
                <td>12/02/2020</td>
                <td>10:15</td>
                <td>12:00</td>
                <td>hostpital</td>
                <td>i have an issue with my eyes</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Accept</a>
                            <a class="dropdown-item" href="#">Require a meeting</a>
                            <a class="dropdown-item" href="#">Refuse</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>