<div class="" style="margin-top: 100px;">
  <div class="scrollable-table">
    <table class="table" style="width: 100%;">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 10%;">Time-Start</th>
          <th scope="col " style="width: 10%;">Time-end</th>
          <th scope="col " style="width: 15%;">Duration(H)</th>
          <th scope="col " style="width: 15%;">verified(H)</th>
          <th scope="col " style="width: 35%;">verification</th>
          <th scope="col " style="width: 10%;">Action</th>
        </tr>
      </thead>
      <tbody class="scrollable-table">
        <tr
          [ngClass]="{
            sattelled: delay.verified == true,
            unsattelled: delay.verified == false
          }"
          *ngFor="let delay of delays"
        >
          <td>{{ delay.start }}</td>
          <td>{{ delay.end }}</td>
          <td>{{ delay.duration / 60 | number: "2.1-1" }}</td>
          <td>{{ delay.verified ? "yes" : "no" }}</td>
          <td>
            <input
              type="text"
              [name]="delay.id"
              [(ngModel)]="delay.verification"
            />
          </td>
          <td>
            <button
              class="btn btn-success"
              (click)="confirmVerification(delay, delay.id)"
            >
              Confirm
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
