<div class="row btn-container" style="margin-top: 50px; height: 100px;">
    <!-- entrance button -->
    <div class="col-3 p-0 " style="padding-top: 50%;">
        <div class="btn btn-light flag-btn">
            <i class="fas fa-angle-double-right red-icon m-0"></i> Entrance
        </div>
    </div>
    <!-- between space -->
    <div class="col-1 invisible"></div>
    <!-- exit button -->
    <div class="col-3  p-0">
        <div class="btn btn-light flag-btn">
            <i class="fas fa-door-open red-icon "></i> Exit
        </div>
    </div>
    <div class="col-md-1">
        <a (click)="toggleIncidenceDropDown()">
            <i class="fas fa-caret-square-down pl-2" style="font-size: 80px; color: cadetblue;" [ngClass]="{'drop-exit-clicked': dropToggled,'drop-exit': !dropToggled}"></i></a>
    </div>

</div>
<div class="row " style="height: 250px;" *ngIf="dropToggled">
    <!-- scroll colmun -->
    <div class="col-4 offset-6 p-0  d-flex" style="max-height: 300px;">
        <div class="card" style="width: 100%; overflow-y: scroll;max-height: 250px;">
            <div class="list-group">
                <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
            </div>
        </div>
    </div>

</div>